*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(12, 11, 11);
    width:50%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
  }
main{
    display:grid;
    grid-template-areas:
    'b1 b1 b2'
    'b3 b4 b4'
    'b3 b5 b5';
    gap:10px;
    grid-template-columns:220px 150px 210px;
    grid-template-rows:200px 90px 120px;
  }
  div{
    padding:20px 0;
  }
  .box-1{
    background-color:brown;
    grid-area:b1;
  }
  .box-2{
    background-color:orange;
    grid-area:b2;
  }
  .box-3{
    background-color:green;
    grid-area:b3;
  }
  .box-4{
    background-color:rgb(34, 218, 218);
    grid-area:b4;
  }
  .box-5{
    background-color:rgb(34, 218, 218);
    grid-area:b5;
  }
